<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">
  <!--[if lte IE 9]>
	 <link rel="stylesheet" type="text/css" href="/css/ie.css" />
  <![endif]-->
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>
